---
Address: "127.0.0.1:8601"
RemoteAddresses:
  - "127.0.0.1:8600"
  - "8.8.8.8:53"
Telemetry:
  Enabled: true
  Address: "0.0.0.0:80"
ScanAll: true
ProxyRules:
  - Type: "Rewrite"
    Pattern: ".ronco.$"
    NewPattern: ".service.consul."
  - Type: "Rewrite"
    Pattern: ".meme.$"
    NewPattern: ".query.consul."
  - Type: "Allow"
    Pattern: ".ronco.$"
  - Type: "Deny"
    Pattern: "mywebsite.com.$"